<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/status-bar.css">
    <link rel="stylesheet" href="/static/css/pdf-frame.css">
</head>

<body>
    <div id="statusBar">
        <div class="icon">
            <div id="spinner" class="spinner"></div>
            <div id="check" class="check">✔</div>
        </div>
        <span id="statusText">Подготовка документа...</span>
    </div>
    <iframe id="pdfFrame"
            data-pdf_url="{{ pdf_url }}">
    </iframe>

    <script src="/static/js/pdf-viewer.js"></script>
    <script src="/static/js/webapp-worker.js"></script>
</body>
</html>
