<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="{{ url_for("css", path="main.css") }}?v={{ ver }}">
    <link rel="stylesheet" href="{{ url_for("css", path="status-bar.css") }}?v={{ ver }}">
    <link rel="stylesheet" href="{{ url_for("css", path="pdf-frame.css") }}?v={{ ver }}">
    <script src="{{ url_for("js", path="webapp-worker.js") }}?v={{ ver }}"></script>
</head>

<body>
    <div id="statusBar">
        <div class="icon">
            <div id="spinner" class="spinner"></div>
            <div id="check" class="check">✔</div>
        </div>
        <span id="statusText">Подготовка документа...</span>
    </div>
    <iframe id="pdfFrame"
            data-pdf_url="{{ pdf_url }}">
    </iframe>

    <script src="{{ url_for("js", path="pdf-viewer.js") }}?v={{ ver }}"></script>
    {%if level_debug in ['INFO', 'DEBUG'] -%}
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    {%endif-%}
</body>
</html>
